<component name="ArtifactManager">
  <artifact type="war" name="web">
    <output-path>$PROJECT_DIR$/out/artifacts/web</output-path>
    <root id="archive" name="web.war">
      <element id="artifact" artifact-name="web:war exploded" />
      <element id="library" level="project" name="Java EE 6-Java EE 6" />
    </root>
  </artifact>
</component>