body {
    background-color: ghostwhite;
}
header {
    font-family: sans-serif;
    background-color: bisque;
    color: darkblue;
    height: 170px;
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}

header p {
    width: 80%;
    text-align: center;
    margin: 1% auto;
    padding: 1%;
}

.studentName, .groupNumber {
    border-bottom: 2px solid brown;
}

#myForm {
    width: 80%;
    text-align: center;
    padding: 1%;
    margin: 0 auto;
}

#myForm2 {
    text-align: center;
}

.insideForm {
    padding: 1%;
}

#image {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-250px);
}

.error {
    background-color: red;
}

input[type='radio'] {
    width: 20px;
    display: inline-block;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    text-align: left;
    border-collapse: separate;
    border-spacing: 5px;
    background: #ECE9E0;
    color: #656665;
    border: 16px solid #ECE9E0;
    border-radius: 20px;
    margin: 0 auto;
}

td {
    background: #F5D7BF;
    padding: 10px;
}

th {
    width: 50px;
    padding-left: 10px;
}